CHEF_REPO = File.expand_path(File.dirname(__FILE__)) if not defined? CHEF_REPO

Vagrant::Config.run do |config|
  config.vm.box = "lucid64"
  #config.vm.boot_mode = :gui
  config.vm.provision :chef_solo do |chef|
    chef.cookbooks_path = "#{CHEF_REPO}/cookbooks"
    chef.roles_path = "#{CHEF_REPO}/roles"
    #chef.add_recipe("vagrant")
    #chef.add_role("vagrant")
  end
end
