CHEF_REPO = File.expand_path(File.dirname(__FILE__)) if not defined? CHEF_REPO

Vagrant::Config.run do |config|
  config.vm.box = "lucid64"
  #config.vm.boot_mode = :gui
  config.vm.provision :chef_solo do |chef|
    chef.cookbooks_path = "#{CHEF_REPO}/cookbooks"
    chef.roles_path = "#{CHEF_REPO}/roles"
    #chef.add_recipe("vagrant")
    #chef.add_role("vagrant")
  end
  #config.ssh.forward_agent = true
  #config.ssh.private_key_path = "~/.ssh/id_rsa"

  #config.vm.share_folder("Dropbox", "/home/#{config.ssh.username}/Dropbox", "~/Dropbox")
  #config.vm.forward_port "riak", 8098, 8098
  #config.vm.forward_port "rabbitmq", 5672, 5672
  #config.vm.forward_port "elasticsearch", 9200, 9200
end
